@font-face {
    font-family: "Vazirmatn";
    src: url("../fonts/Vazirmatn/Vazirmatn-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

*{
    direction: rtl;
    text-align: right;
}

body {
    font-family: "Vazirmatn", sans-serif;
}

@media (min-width: 992px) {
    .dropdown-hover:hover > .dropdown-menu {
      display: block;
      margin-top: 0;
    }
    .dropdown-submenu:hover > .dropdown-menu {
      display: block;
    }
  }
  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -0.25rem;
  }