@font-face {
    font-family: "Noto Sans Arabic";
    src: url(../fonts/Noto_Sans_Arabic/NotoSansArabic-Light.ttf) format('tff');
}

*{
    direction: rtl;
    text-align: right;
}

@media (min-width: 992px) {
    .dropdown-hover:hover > .dropdown-menu {
      display: block;
      margin-top: 0;
    }
    .dropdown-submenu:hover > .dropdown-menu {
      display: block;
    }
  }
  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -0.25rem;
  }